.refernce-info-container{
    display: flex;
    background-color:aliceblue;
    justify-content: space-between;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 60px;
    max-width: 100%;
    padding: 20px;
}
.website-reference-container{
    padding-left: 20px;
}
.subscription-button{
    background-color: rgb(218, 82, 82);
    color: #ffffff;
    outline: none;
    cursor: pointer;
    border-color: transparent;
    border-radius: 7px;
    padding: 10px;
}
